/* ===========================Style all pages================================  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
body {
	background: linear-gradient(to right, #0066eb 7%, #ff8ab3 100%);
}
/* ===========================Style index================================  */
.counter {
    width: 320px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 90px auto; 
}
.counter h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.buttonindex{
    text-align: center;
}
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#d3d3d3, #2d3436);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-size: 17px;
    background: -webkit-linear-gradient(#d3d3d3, #2d3436);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 20px 0 20px 0;
}
.myButton {
	box-shadow: 0px 1px 0px 0px white;
	background: linear-gradient(to right, #0066eb 0%, #ff8ab3 100%);
	border-radius:15px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #203697;
  margin: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0066eb 5%, #ff8ab3 100%);
	background-color:#0066eb;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* ===========================Style vragenlijst================================  */
.media{
  text-align: center;
}
.wrapper {
  display: inline-flex;
  text-align: center;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #e13030;
  color: #ffffff;
}
.container {
    left: 50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 10px;
    height: 40px;
    text-align: center;
    display: block;
    position: relative;
    color: black;
}
button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    margin-top: 20px;
}
button:hover {
    color: white;
    background: #1ecd97;
}
button:active {
    letter-spacing: 2px;
}
button:after {
    content: "SUBMIT";
}
.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #1ecd97;
    background: white;
}
.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}
.validate:after {
    font-family: "FontAwesome";
    content: "\f00c";
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
/* ===========================Style view================================  */
.view {
  width: 320px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 110px auto;
  text-align: center;
  padding: 20px 0 20px 0;
}
.view h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}