* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	background: linear-gradient(to right, #0066eb 7%, #ff8ab3 100%);
}

.counter {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.counter h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#d3d3d3, #2d3436);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 17px;
    background: -webkit-linear-gradient(#d3d3d3, #2d3436);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 20px 0 20px 0;
}
.myButton {
	box-shadow: 0px 1px 0px 0px white;
	background: linear-gradient(to right, #0066eb 0%, #ff8ab3 100%);
	border-radius:15px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #203697;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0066eb 5%, #ff8ab3 100%);
	background-color:#0066eb;
}
.myButton:active {
	position:relative;
	top:1px;
} 
.container {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
}
button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
button:hover {
    color: white;
    background: #1ecd97;
}
button:active {
    letter-spacing: 2px;
}
button:after {
    content: "VERSTUUR";
}
.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ecd97;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #1ecd97;
    background: white;
}
.validate {
    font-size: 13px;
    color: white;
    background: #1ecd97;
}
.validate:after {
    font-family: "FontAwesome";
    content: "\f00c";
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}